<%@ page language="java" pageEncoding="UTF-8"%>
<%@ page contentType="text/html;charset=UTF-8"%>
  <!-- Three columns of text below the carousel -->
      <div class="row" style="padding-top: 20px;">

        <div class="col-lg-4">
          <img class="lazy img-circle" data-original="<%=basePath%>/show/色彩湍流中的夜香港.jpg" style="width: 140px; height: 140px;">
          <h2>用全面的数据支持教学</h2>
          <p>细致记录教学过程中各个方面的数据，让您可以随时随地访问所有数据，不错不漏，的心应手。</p>
          <p><a class="btn btn-default" role="button">了解更多 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="lazy img-circle" data-original="<%=basePath%>/show/一排时钟.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>方便的流程管理</h2>
          <p>定义贴合我们需要的流程，最简单，却很强大</p>
          <p><a class="btn btn-default" role="button">了解更多 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="lazy img-circle" data-original="<%=basePath%>/show/云端之桥.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>强大深入的分析工具</h2>
          <p>再全面数据的基础上，我们引入深入的分析和统计功能，让你能够明明白白的了解到业务的方方面面，并且，能够突破现有业务的限制，洞察新的培训商机</p>
          <p><a class="btn btn-default" role="button">了解更多 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img class="lazy" data-original="<%=basePath%>/show/恒星泡泡.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>量身打造的系统，随时根据需求增强</h1>
              <p>定制系统的最大优势在于，可以完全根据我们的需要开发功能，在最短的时间里完善系统缺陷。</p>
              <p>－－ 兴门科技</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-original="<%=basePath%>/show/SDO的多波段太阳.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>博彩众长，我们集合多个系统的优点与一身</h1>
              <p>集合众多系统的优点，取对我们最有用的部分，去除无用甚至会影响效率的部分。</p>
              <p>－－ 兴门科技</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">教务管理系统</h2>
          <p class="lead">教务管理系统是集课程设计和分析、教师注册和考核、学生跟踪和回访、各项数据分析和统计，以及总部财务审查和管理等功能为一体的综合管理系统平台。
校长办、教务主管、财务以及系统管理等相关人员通过该系统可以快速精准获取和操作各自关心的数据。学校总部人员可以通过系统实时的掌握各个分校的教学、
学生报名和学习、等所有各项指标状态。</p>
        </div>
        <div class="col-md-5">
          <img class="lazy featurette-image img-responsive" data-original="<%=basePath%>/show/一本展开的厚书.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="lazy featurette-image img-responsive" data-original="<%=basePath%>/show/排列整齐的书架.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">分校管理系统</h2>
          <p class="lead">分校管理系统提供了方便快捷的创建班级、学生报名、学生查询等诸多功能。系统帮助工作人员方便快速的了解教室的使用分布，教师的课程排期，辅助工作人员
合理的创建班级和安排相关的授课教师。此外，系统提供一键生成财务对账单功能，提高工作人员的工作效率。</p>
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">翰林搜课系统</h2>
          <p class="lead">搜课系统专为翰林定制开发的一款网络平台，互联网用户可以在搜课系统上浏览翰林的教学内容和各个分校开办的课程，可以在线报名。搜课系统的优势是与整个翰林的
内容系统数据进行打通，搜课系统显示的开班课程信息都是真实的数据，通过搜课平台参入网上报名申请的记录会实时自动发送到学校内部的分校管理系统，分校老师会及时
的电话联系学生或学生家长，为其安排试听课等服务。</p>
        </div>
        <div class="col-md-5">
          <img class="lazy featurette-image img-responsive" data-original="<%=basePath%>/show/口袋中冒出的植物.jpg" alt="Generic placeholder image">
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="lazy featurette-image img-responsive" data-original="<%=basePath%>/show/新西兰蒂卡波湖盛开的羽扇豆.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">教师管理系统</h2>
          <p class="lead">教师管理系统主要供授课老师登录，授课老师可以通过系统管理自己的班级，授课老师可以在系统里方便的管理自己的课程，例如且不限于上传课件、知识难点和重点、
课后作业、回复学生在线问题等。授课老师可以随时查询自己的代课班级、学生数等教学业绩数据。
</p>
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">家校互联系统</h2>
          <p class="lead">家校互联系统主要是打造为供学生或学生家长登录的一款学校在线服务平台，学生通过家校互联系统可以方便的查看自己所学的班级和课程情况，查看老师上传的各类课件和
学习资料，学生或学生家长可以点评授课老师的优缺点或反馈建议。学生或学生家长也可以通过系统随时的了解更多学校近期举办的各项教学活动。
</p>
        </div>
        <div class="col-md-5">
          <img class="lazy featurette-image img-responsive" data-original="<%=basePath%>/show/大批量的彩铅.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a id="back2head" href="#">回开头</a></p>
        <p>&copy; 2015 技术提高生产力 &middot; </p>
      </footer>

    </div><!-- /.container -->