<% include ./inc/f_head.html %>
<% include ./inc/f_navi.html %>

<!--=============================================
            Under Construction Page
============================================= -->
<section class="overlay-01 under-construction bg-20 wrapper-table">
    <div class="valign-center">
        <div class="container">
            <div class="intro text-center">
                <div class="logo">
                    <a class="inline-block" href="#">
                        <img class="img-responsive center-block" alt="" src="assets/images/logos/1-w.png">
                    </a>
                </div>

                <h3>我们正在深入清理茶托和酒托</h3>

                <h5>请稍微耐心等待，或者联系我们的客服</h5>

            </div>
        </div>
    </div>
</section>




</div><!--/#zwrapper-->



<!-- Offcanvas Elements
============================================= -->






<!-- Javascripts
============================================= -->

<script src="assets/lib/components-modernizr/modernizr.js"></script>
<script src="assets/lib/jquery/dist/jquery.js"></script>
<script src="assets/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="assets/lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="assets/lib/animsition/dist/js/animsition.min.js"></script>
<script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>





<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>


<% include ./inc/f_foot.html %>