<!-- ============================================
            页脚
============================================== -->
<!-- Footer widgets -->
<section id="footer-widgets" class="section footer-widgets dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 hidden-xs">
                <div class="footer-title">
                    <div class="text-uppercase">
                        <h4><img class="img-responsive footer-logo" src="assets/images/logos/1-w.png" alt="California"></h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="content-wrap widget-text">
                    <p>
                    在这里，我们不期而遇<br>
                    我们不安于现状<br>
                    开始寻找另外一种生活<br>
                    我们厌倦了城市的冷漠<br>
                    想寻找一份真爱<br>
                    我们渴望得到关怀和帮助<br>
                    而你的出现，让我期待<br>
                    </p>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <p class="widget-text">城市交友</p>
                <div class="row">
                    <div class="content-wrap widget-contact col-md-6">
                        <ul class="list-unstyled list-arrows-right">
                            <li><a href="#faq.html">上海交友网</a></li>
                            <li><a href="#faq.html">深圳交友网</a></li>
                            <li><a href="#faq.html">广州交友网</a></li>
                            <li><a href="#faq.html">成都交友网</a></li>
                            <li><a href="#faq.html">重庆交友网</a></li>
                        </ul>
                    </div>
                    <div class="content-wrap widget-contact col-md-6">
                        <ul class="list-unstyled list-arrows-right">
                            <li><a href="#faq.html">南京交友网</a></li>
                            <li><a href="#faq.html">北京交友网</a></li>
                            <li><a href="#faq.html">西安交友网</a></li>
                            <li><a href="#faq.html">大连交友网</a></li>
                            <li><a href="#faq.html">哈尔滨交友网</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-2 col-sm-6">
                <div class="content-wrap widget-gallery">
                    <div class="lightbox-gallery">
                        <a target="_blank" href="assets/images/gallery/big/big_1.jpg">
                            <img class="img-responsive" src="assets/images/gallery/thumbnail/full_8/1.jpg" alt=""/>
                        </a>
                        <a target="_blank" href="assets/images/gallery/big/big_3.jpg">
                            <img class="img-responsive" src="assets/images/gallery/thumbnail/full_8/3.jpg" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /.Footer widgets -->
<footer id="footer" class="section footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p> 资讯QQ ｜ 客服中心 ｜ 免责声明 ｜ 关于我们 ｜ 招聘 </p>
                <p><a class="copyright">版权所有 &copy;2016 火枪手网络科技 </a>  <a href=""> 备案号 </a>  <a href=""> 营业执照 </a> </p>
            </div>
        </div>
    </div>
</footer> <!-- /.footer -->


</div><!--/#zwrapper-->