            <!-- ==============================================
							shop Sidebar
			================================================ -->

			<div class="sidebar col-md-4">

			    <div class="offer-widget">
			        <p>在线时长：<span id="onlinetimespan"></span> <a id="onlinetime-exchange-btn" href="#" class="label label-success pull-right"> 兑换 </a></p>
			        <a id="daily-check-btn" href="#" class="btn btn-cal-default"> 每日签到送羽毛 </a>
			    </div>

			    <div class="widget catagory-widget">
					<h5>热门增值服务</h5>
					<ul>
			            <li>
			                <a href="#" title="手机号认真免费试用3天">意中人上线提醒 <span class="badge pull-right">购买</span></a>
			            </li>

			            <li>
			                <a href="#" title="">自动接受邀请 <span class="badge pull-right">购买</span></a>
			            </li>

			            <li>
			                <a href="#" title="">推送本人资料给新注册用户 <span class="badge pull-right">购买</span></a>
			            </li>

			            <li>
			                <a href="#" title="">多城一家服务 <span class="badge pull-right">购买</span></a>
			            </li>

			            <li>
			                <a href="#" title="">账户本地置顶服务 <span class="badge pull-right">购买</span></a>
			            </li>

			            <li>
			                <a href="#" title="">黄金会员私人服务 <span class="badge pull-right">购买</span></a>
			            </li>
			        </ul>
				</div>


				<div class="counter-widget">
			        <div class="row">
			            <!-- Fact Item -->
			            <div class="col-sm-4">
			                <div class="fact">
			                	<p class="fact-text">我中意的</p>
			                    <h5 class="fact-number">30</h5>
			                </div>
			            </div>
			            <!--/ End Fact Item -->
			            <div class="col-sm-4">
			                <div class="fact">
			                    <p class="fact-text">中意我的</p>
			                    <h5 class="fact-number">50</h5>
			                </div>
			            </div>
			            <!--/ End Fact Item -->
			            <div class="col-sm-4">
			                <div class="fact">
			                    <p class="fact-text">最近访客</p>
			                    <h5 class="fact-number">30</h5>
			                </div>
			            </div>
			        </div>
			    </div>

			    <div class="list-group">
				  <a href="#" class="list-group-item">
				    <span class="icon-megaphone"></span> 网站通知 <span class="badge">4</span>
				  </a>
				  <a href="#" class="list-group-item">
				  	<span class="icon-envelope"></span> 意中人来信
				  </a>
				  <a href="#" class="list-group-item">
				  	<span class="icon-pencil"></span> 写信给意中人
				  </a>
				  <a href="#" class="list-group-item">
				  	<span class="icon-lightbulb"></span> 谁看过我
				  </a>
				  <a href="#" class="list-group-item">
				  	<span class="icon-linegraph"></span> 我看过谁
				  </a>
				</div>

				<div class="widget catagory-widget">
					<h5>诚信值</h5>
					<ul>
			            <li>
			                <a href="#" title="">上传头像 ＋5 <span class="badge pull-right">去认证</span></a>
			            </li>

			            <li>
			                <a href="#" title="View all posts from Catagory2">邮箱认证 +5 <span class="badge pull-right">去认证</span></a>
			            </li>

			            <li>
			                <a href="#" title="View all posts from Catagory3">QQ认证 +5 <span class="badge pull-right">去认证</span></a>
			            </li>

			            <li>
			                <a href="#" title="View all posts from Catagory4">手机认证 +5 <span class="badge pull-right">去认证</span></a>
			            </li>
			        </ul>
				</div>
			</div>